<section class="w-full ">
  <mat-card class="w-full">
    <!-- Table -->
    <div class="w-full">
      <table mat-table [dataSource]="tableDataSource" matSort class="w-full">
        <ng-container
          *ngFor="let tableColumn of tableColumns"
          [matColumnDef]="tableColumn?.name"
        >
          <!-- if sortable column header -->
          <ng-container>
            <th class="bg-sky-300 text-[16px] text-black" mat-header-cell *matHeaderCellDef>{{ tableColumn?.name }}</th>
          </ng-container>

          <!-- column data -->
          <td  mat-cell *matCellDef="let element" class="table-header">
            <ng-container>
              <span
                *ngIf="!tableColumn.hideDefaultCell"
                [innerHtml]="element?.[tableColumn.dataKey]"
              ></span>

              <ng-container *ngIf="tableColumn.showCustomTemplateCell">
                <ng-template
                  [ngTemplateOutlet]="customCellTemplate"
                  [ngTemplateOutletContext]="{
                    $implicit: element,
                    dataKey: tableColumn?.dataKey}"
                ></ng-template>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>

        <!-- buttons cloumn -->

        <ng-container
          *ngIf="buttons?.length"
          [matColumnDef]="buttonColumn"

        >
          <th class="bg-sky-300 text-[16px] text-black" mat-header-cell *matHeaderCellDef>
            {{ buttonColumn }}
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container>
              <ng-container *ngIf="buttons.length > 0">
                <div class="buttons-container">
                  <ng-container *ngFor="let button of buttons">
                    <ng-container>
                      <button
                        mat-menu-item
                        (click)="
                          onRowActionClicked(button.actionToPerform, element , i)
                        "
                        class="{{ button.class }}"
                        [title]="button?.title"
                      >
                        <mat-icon class="{{ button.iconClass }}">{{ button?.icon }}</mat-icon
                        >
                      </button>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="{{row?.className}}"  mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</section>
